<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container mt-5">
    <h2>SignUp</h2>
    <form action="/signup" method="POST">
      <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">SignUp</button>      
    </form>
    <a href="/login">이미 계정이 있으신가요?</a>
  </div>
</body>
</html>
